.project-tab-title-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}

.project-tab-title-row h1 {
  text-wrap-mode: nowrap;
  color: var(--color-primary);
}

.tab-ribbon-style {
  padding: 6px 10px;
  border: 1px solid var(--border);
  border-radius: 4px;
  background: var(--bg-secondary);
  color: var(--text);
  font-size: 13px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.project-title-tabs-container-row {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: end;

  /* gap: 1rem; */
  /* margin-bottom: 1rem; */
}
