# bashvilleapi/codegen/templates/django/admin.py.j2
from django.contrib import admin
from .models import {% for e in entities %}{{ e.class_name }}{% if not loop.last %}, {% endif %}{% endfor %}

{% for entity in entities %}
@admin.register({{ entity.class_name }})
class {{ entity.class_name }}Admin(admin.ModelAdmin):
    list_display = ['id', {% for field in entity.fields %}'{{ field.name }}', {% endfor %}'user', 'created_at']
    list_filter = ['created_at', 'user']
    search_fields = [{% for field in entity.fields %}{% if field.type == 'CharField' or field.type == 'TextField' %}'{{ field.name }}', {% endif %}{% endfor %}]
    ordering = ['-created_at']
    readonly_fields = ['created_at']
    
    def get_queryset(self, request):
        """Show user context in admin."""
        qs = super().get_queryset(request)
        if not request.user.is_superuser:
            # Non-superusers only see their own data
            return qs.filter(user=request.user)
        return qs
    
    def save_model(self, request, obj, form, change):
        """Auto-assign user for new objects."""
        if not change:  # Only for new objects
            obj.user = request.user
        super().save_model(request, obj, form, change)

{% endfor %}