/** @type {import('tailwindcss').Config} */
export default {
  content: [
    "./index.html",
    "./src/**/*.{js,ts,jsx,tsx}",
  ],
  theme: {
    extend: {
      colors: {
        primary: '{{ color_palette.primary_hex }}',
        secondary: '{{ color_palette.secondary_hex }}', 
        accent: '{{ color_palette.accent_hex }}',
        background: '{{ color_palette.background_hex }}',
        ui: '{{ color_palette.ui_hex }}',
      },
      fontFamily: {
        sans: ['Inter', 'system-ui', 'Avenir', 'Helvetica', 'Arial', 'sans-serif'],
      },
    },
  },
  plugins: [],
}
